
<div class="divheader">

	<table class="headertable" >
		<tr >	
		
			<td  class="central" colspan="2">
				 <h4>
				 <strong>
				 {NOMBREEMPRESA}<br>
				 {DIRECCIONEMPRESA}<br>
				 {TELEFONOEMPRESA}
				</strong>
				</h4>
			</td>	
			<td class="qr" rowspan="2">
				{CODIGO_QR}
			</td>
			
					
		</tr>
		<tr>
			<td class="htexto1" >
				 <p>
				  <strong>Ruc: </strong> {RUCEMPRESA}<br>	
				   			  
				  <strong>Usuario: </strong> {USUARIOEMPRESA}
				 
				 </p>				 
			</td>
			<td class="htexto2" >
				 <p>				  
				  <strong>Fecha de Impresión: </strong> {FECHAEMPRESA}<br>
				  <span><strong>Hoja: </strong> {PAGENO}</span>
				 </p>				 
			</td>
			
		</tr>		
	</table>	
											
</div>	