/* para clases de cabecera */ 
.divheader{
	border:0px solid; width:100%; 
}
	
.headertable{
	width:100%;
	border:1px solid;width:100%;
	
}
td.central{
	background-repeat: no-repeat;
  	background-size: 10% 100%;
	background-image: url(view/images/Logo-Capremci-h-170.jpg); 
	background-position: 0% 100%;
	font-size: 11px;  
	padding: 0px; 
	text-align:center;
	
}
.htexto1{		
	font-size: 10px;  padding: 5px; 
	text-align:left;
	width: 65%;
}
.htexto2{		
	font-size: 10px;  padding: 5px; 
	text-align:left;
	width: 33%;
}
.htexto2 span{	 
	text-align:left;
}

/***************************/



table.1 tr:nth-child(even){
   width: 100%;
   text-align: left;
   font-size:12px;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
   
}

th.ancho{
	
	width: 200px;
	background: #C0C0C1;
	
	
	
}
td.ancho{
	
	width: 215px;
	
}
td.bordesup{
	
	border-top: 1px solid;
	
}


table.2 {
   width: 100%;
   font-size:17px;
   text-align: center;
   
}
table.3 {
  
  width: 100%;
   font-size:14px;
   text-align: center;
}

table.4 {
  
  width: 255px; padding: 3px;
   font-size:12px;
   text-align: left;
}
table.5 {
  
  width: 100%;
   font-size:12px;
   text-align: center;
   border:1px solid;
}

td .right{
	 border-right: 1px solid red;
	}

table.6 {
  
  width: 100%; padding: 1px;
   font-size:12px;
   text-align: left;
    border:1px solid;
}

table tr.grupocuenta td  { 
	background-color: #EEEEEE;
	font-variant: small-caps;
    font-weight: bold;
    text-transform: uppercase;   
    
	}

p {
	font-size:12px;
}

.auxiliar{
	font-size:10px;
	font-style: italic;
	text-align: left;
}
