<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  	  
  </head>
  <body>
  	<div>
  		<table class="2">
		<tr>
		<td><strong>Ficha de Activos</strong></td>
		</tr>
	    </table>
		<br>	    
		<table class="3" >
		<tr>
		 <td><strong>Detalle de la Ficha</strong></td>
		</tr>
	    </table>
	    <br>
	    <table class="4" >
	    
	   
	    <tr>
  		<td><img src="view/Administracion/DevuelveImagenView.php?id_valor={IDACTIVO}&id_nombre=id_activos_fijos&tabla=act_activos_fijos&campo=imagen_activos_fijos" alt="" width="80" height="80"/></td>
  		</tr>
  				
  	    <tr>
		 <td><strong>Nombre del Activo:</strong></td>
		 <td>{NOMACT}</td>
		</tr>
	    
	    <tr>
		 <td><strong>Responsable:</strong></td>
		 <td>{NOMEMPACT}</td>
		 
		</tr>
		
		<tr>
		 <td><strong>Cédula:</strong></td>
		 <td>{NUMCEDEMP}</td>
		</tr>
		<tr>
		 <td><strong>Fecha:</strong></td>
		 <td>{FECHACT}</td>
		</tr>
		<tr>
		 <td><strong>Detalle:</strong></td>
		 <td>{DETALLE}</td>
		</tr>
		<tr>
		 <td><strong>Valor:</strong></td>
		 <td>{VALORACT}</td>
		</tr>
		<tr>
		 <td><strong>Oficina:</strong></td>
		 <td>{OFICINAACT}</td>
		</tr>
		<tr>
		 <td><strong>Departamento:</strong></td>
		 <td>{DEPACT}</td>
		</tr>
		
		
		</table>
	    
	    
	</div>	
	<br> 
	{DETALLE_COMPROBANTE}
	<br>
	<table class="5" >
		<tr class="inferior">
		 <td><strong>Elaborado por:</strong></td>
				 <td><strong>Visto Bueno:</strong></td>
		 <td><strong>Recibí Conforme:</strong></td>
		</tr>
		<tr><td>&nbsp; </td></tr>
		<tr><td>&nbsp; </td></tr>
		<tr><td>&nbsp; </td></tr>
		<tr>
		<td>{USUARIO}</td>
		
		<td>RR.HH.</td>
		<td>-----------------------------</td>
		</tr>
	    </table>

  </body>
  </html>