<!DOCTYPE html>
<html>

 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<div>
  		<table class="4" align="center">
		<tr>
		 <td class="1">
		 <strong>&nbsp;</strong>	
		 </td>
		 <td>
		 <strong>TABLA DE AMORTIZACIÓN</strong>	
		 </td>
		 
		</tr>
	    </table>
	    <br>

	
	  <div class="izq" >
	  <table >
	  <tr>
	  <td width=80px><strong>Prestamo No:</strong></td>
	  <td width=90px>{CODCREDITO}-{NUMCREDITO}</td>
	  <td width=90px><strong>Fecha Solicitud:</strong></td>
	  <td width=20px>{FECHACONCRED}</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=80px>&nbsp;</td>
	  <td width=90px>&nbsp;</td>
	  <td width=90px><strong>Fecha-Acreed:</strong></td>
	  <td width=20px>{FECHACONCRED}</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=75px><strong>Nombre:</strong></td>
	  <td width=250px>{APELLPARTICIPE}&nbsp;{NOMPARICIPE}</td>
	  </tr>
	  <tr>
	  <td width=75px><strong>Identificación:</strong></td>
	  <td width=250px>{CEDPARTICIPE}</td>
	  </tr>
	  <tr>
	  <td width=75px><strong>Entidad Patronal:</strong></td>
	  <td width=250px>{ENTIDADPATRON}</td>
	  </tr>
	  </table>
	  </div>
	  <div class="der">
	<table >
	  <tr>
	  <td width=100px><strong>Tipo de Préstamo:</strong></td>
	  <td width=250px>{TIPOPRESTAMO}</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=80px><strong>Típo cuota:</strong></td>
	  <td width=90px>Fija</td>
	  <td width=40px><strong>Plazo:</strong></td>
	  <td width=50px>{PLAZO} meses</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=100px><strong>Tasa:</strong></td>
	  <td width=250px>{TAZA} % mensuales</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=100px><strong>Estado:</strong></td>
	  <td width=250px>{ESTADO}</td>
	  </tr>
	  <tr>
	  <td width=100px><strong>&nbsp;<br>&nbsp;</strong></td>
	  <td width=250px>&nbsp;</td>
	  </tr>
	  </table>
	</div>
		<div class="izq" >
	  <table >
	  <tr>
	  <td align="center"><u><strong>DATOS DEL GARANTE</strong></u></td>
	  </tr>
	  </table>
	  <table >
	 <tr>
	  <tr>
	  <td width=75px><strong>Nombre:</strong></td>
	  <td width=250px>{NOMGARANTE}&nbsp; &nbsp;{APELLGARANTE}</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=75px><strong>Cédula:</strong></td>
	  <td width=100px>{CEDULAGARANTE}</td>
	  <td width=20px><strong></strong></td>
	  <td width=30px></td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=75px><strong>Entidad Patronal:</strong></td>
	  <td width=250px>{ENTIDGARANTE}</td>
	  </tr>
	  <tr>
	  <td width=75px><strong>Teléfono:</strong></td>
	  <td width=250px>{TELEFONOGARANTE}</td>
	  </tr>
	  </table>
	  
	</div>
	<div class="der">
	 <table >
	 <tr>
	  <td width=100px><strong>&nbsp;</strong></td>
	  <td width=250px>&nbsp;</td>
	  </tr>
	  </table>
	  <table>
	  <tr>
	  <td width=100px><strong>Mónto:</strong></td>
	  <td width=80px align="right">{MONTO}</td>
	  <td width=50px><strong>Moneda:</strong></td>
	  <td width=25px>DÓLARES</td>
	  </tr>
	  </table>
	  <table>
	  <tr>
	  <td width=100px><strong>Saldo:</strong></td>
	  <td width=80px align="right">{SALDO}</td>
	  <td width=50px><strong>&nbsp;</strong></td>
	  <td width=25px>&nbsp;</td>
	  </tr>
	  <tr>
	  <td width=100px><strong>Mónto a Recibir:</strong></td>
	  <td width=80px align="right">{MONTORECIBIR}</td>
	  <td width=50px><strong>&nbsp;</strong></td>
	  <td width=25px>&nbsp;</td>
	  </tr>
	  </table>
	</div>
	</div>
	<br>
	 <div>{DETALLE_AMORTIZACION}</div>
	
  </body>
  </html>