<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  	  
  </head>
  <body>
  	<div>
  		<table class="2" align="center">
		<tr>
		<td><strong>REPORTE CON VALORES DE CREDITOS A TRANSFERIR</strong></td>
		</tr>
	    </table>
		<br>
		
		{DETALLE_CREDITOS}	    
		
	</div>	
	
	
	<br><br>
	<br><br>
	<table class="4" cellspacing="0" style="width:100px;" border="0" >
	<tr>
	<td class="bordesup">Ing. &nbsp; &nbsp;{NOMJCRE} &nbsp;{APEJCRE}</td>
	<td class="1">&nbsp;</td>
	<td class="bordesup">Ing. &nbsp; &nbsp;{NOMGER} &nbsp;{APEGER}</td>
	<td class="1">&nbsp;</td>
	<td class="bordesup">Lcdo.&nbsp; &nbsp;{NOMCONTA} &nbsp;{APECONTA}</td>
	</tr>
	<tr>
	<td><strong>JEFE DE CREDITO(E)</strong></td>
	<td class="1">&nbsp;</td>
	<td><strong>REPRESENTANTE LEGAL CAPREMCI</strong></td>
	<td class="1">&nbsp;</td>
	<td><strong>CONTADOR</strong></td>
	
	
	</tr>
	
	</table>
	
  </body>
  </html>