<!DOCTYPE html>
<html>

 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	
<table class="fil1">
<tr><td class="anchofila1">&nbsp;</td></tr>
<tr>
<td class="1">&nbsp;</td>
<td class="2">{portadorCheque}</td>
<td class="3">{valorCheque}</td>
<td class="27">&nbsp;</td>
</tr>
<tr>
<td class="1">&nbsp;</td>
<td class="2">{valorLetrasCheque}</td>
<td class="3">&nbsp;</td>
<td class="27">&nbsp;</td>
</tr>
</table>
<table  class="fil1">
<tr><td>&nbsp;</td></tr>
<tr>
<td class="4">&nbsp;</td>
<td class="5">{CIUDAD},</td>
<td class="6">{fechaCheque}</td>
</tr>
</table>
<table class="fil1">
<tr><td class="anchofila2">&nbsp;</td></tr>

<tr>
<td class="7">&nbsp;</td>
<td class="8">{conceptoCheque}</td>
<td class="9">{transaccion}</td>
<td class="10">&nbsp;</td>
<td class="11">{numeroCheque}</td>
<td class="26">&nbsp;</td>
</tr>
<tr>
<td class="7">&nbsp;</td>
<td class="8">{proveedor}</td>
<td class="9">&nbsp;</td>
<td class="10">&nbsp;</td>
<td class="11">{valorCheque}</td>
<td class="26">&nbsp;</td>
</tr>
</table>
<table  class="fil1">
<tr>
<td class="12">&nbsp;</td>
<td class="8">{conceptoCheque};&nbsp;{proveedor}</td>
<td class="10">&nbsp;</td>
<td class="11">&nbsp;</td>
</tr>
</table>
<table class="fil1">
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
</table>
{DETALLE_CUENTA_X_PAGAR}
<div class="absolute">
<table class="fil1">
<tr>
<td class="17">&nbsp;</td>
<td class="18"><strong>Fecha:</strong></td>
<td class="19">{fechaCheque}</td>
<td class="20">&nbsp;</td>
</tr>
</table>
<table class="fil1">
<tr>
<td class="21">&nbsp;</td>
<td class="22"><strong>Total General:</strong></td>
<td class="23">150.00</td>
<td class="24">150.00</td>
<td class="25">&nbsp;</td>
<td class="28">&nbsp;</td>
</tr>
</table>
</div>

	
  </body>
  </html>