/* para clases de cabecera */ 
.divheader{
	border:0px solid; width:100%; 
}
	
.headertable{
	width:100%;
	border:1px solid;width:100%;
	
}
td.central{
	background-repeat: no-repeat;
  	background-size: 10% 100%;
	background-image: url(view/images/Logo-Capremci-h-170.jpg); 
	background-position: 0% 100%;
	font-size: 11px;  
	padding: 0px; 
	text-align:center;
	
}
.htexto1{		
	font-size: 10px;  padding: 5px; 
	text-align:left;
	width: 60%;
}
.htexto2{		
	font-size: 10px;  padding: 5px; 
	text-align:left;
	width: 33%;
}
.htexto2 span{	 
	text-align:left;
}

td.qr{
	
	
	width: 50px;
}
td.espacio{
	
	
	width: 50px;
}


/***************************/

.titulobody {
	width:100%;font-family:Times New Roman, sans-serif;
  	font-size:12px; line-height:normal; border:1px solid black;

  }

.titulobody td{
	font-weight:bold;
  	padding:0 0.5em; 
	text-align:center;
	border:hidden;
  }
 
 .bodycabecera{
 	border:hidden;
 }
 
 .tab1principal{
 	width:100%;font-family:Times New Roman, sans-serif;
  	font-size:0.75em;line-height:2em;
 }
.tab1principal td{
  	padding:0 0.5em;
	border:hidden;
  }
.tab2cabecera{
	width:100%;font-family:Times New Roman, sans-serif;
 	font-size:0.75em;line-height:2em;
 	border-collapse: separate;
 	border-spacing: 10px 0px; 
}
.tab2cabecera td{
  	padding:0 0.5em;
  }
 .bordeinferior td {
  border-bottom: 1px; 
  border-bottom-style: dotted;
  
 }
/*Styls para dibujar el reporte*/ 
   div.izq{
	left:0px;   width:338px; height:110px; border: 1px solid black; float:left;
	}
	
	div.der{
	right:0px;  width:338px; height:110px; border: 1px solid black; float:left;
	}
	body {font-size:10px}


table.1 {
   width: 800px;
   font-size:14px;
   border-collapse: collapse;
   caption-side: top;
   
}

table.2 {
   width: 100%;
   font-size:12px;
   text-align : justify;
}



table.3 {
  
   font-size:12px;
}

table.4 {
  
   font-size:15px;
   width:100%;
}

td.1{
	
	width:230px;
	
}
td.2{
	
	width:260px;
	
}

td.3{
	
	width:260px;
	
}
th.1{
	
	font-size:12px;
	
}

td.1{
	
	font-size:12px;
	
}

table.5 {
  
   font-size:15px;
   width:900px;
}

table.12 {
   width: 100%;
   
   font-size:12px;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
}

